<div class="row">
<div class="col-md-4 col-sm-12">

			<span data-ng-repeat="userGroup in userGroupByUserList" >
				<span class="label label-info label-left" data-ng-if="userGroup.userType!='A'">
					{{userGroup.userName}}
				</span>
			</span>
			<div class="list-group-item" data-ng-repeat="userRequirement in requirementList" >
				{{userRequirement.competenceName}} 
				<span data-ng-if="userRequirement.specialization">{{'COMPETENCE_SPECIALIZATION_'+userRequirement.specialization | i18n}}</span>
				<span data-ng-if="userRequirement.minimumTimeRequirement>0">:{{userRequirement.minimumTimeRequirement}} {{'COMPETENCE_UNIT_'+userRequirement.complianceUnit | i18n}}</span>
			</div>

</div>

<div class="col-md-8 col-sm-12">

</div>
</div>
