<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<span class="h4 modal-title" id="modalLabel" > {{'PERSONAL_DATA' | common}} <small>{{identity.principal}}</small></span>
</div><!-- modal-header-->
  		
<div class="modal-body">

<form  class="form-horizontal" role="form" data-ng-submit="updateProfile()">

	<div class="row" >
	<div class="col-md-8" >
	<div id="form-group-identityType" class="form-group">
		<label for="identityType" class="col-sm-3 control-label">{{'IDENTITY_TYPE' | common}}</label>
		<div class="col-sm-9">
		<select id="identityType" class="form-control" name="identityType"  data-ng-model="identity.identityTypeAsEnum">
			<option data-ng-repeat="identityTypeOption in identityTypes" value="{{identityTypeOption}}">{{'IDENTITY_TYPE_'+identityTypeOption | common}}</option>
		</select>
		</div>
	</div>

	<div id="form-group-gender" class="form-group">
		<label for="gender" class="col-sm-3 control-label">{{'IDENTITY_GENDER' | common}}</label>
		<div class="col-sm-9">
		<select id="gender" class="form-control"  data-ng-model="identity.genderAsEnum">
			<option data-ng-repeat="genderOption in genders" value="{{genderOption}}" >{{'IDENTITY_GENDER_'+genderOption | common}}</option>
		</select>
		</div>
	</div>
	
	<hr/>
	
	<div id="form-group-displayName" class="form-group">
		<label for="displayName" class="col-sm-3 control-label">{{'DISPLAY_NAME' | common}}</label>
		<div class="col-sm-9">
		<input id="displayName" type="text" required name="displayName" maxlength="64" 
		       placeholder="{{'DISPLAY_NAME' | i18n}} " class="form-control" data-ng-model="identity.displayName"/>
		</div>
	</div>		
	
	<div id="form-group-firstName" class="form-group">
		<label for="identityFirstName" class="col-sm-3 control-label">{{'FIRST_NAME' | common}}</label>
		<div class="col-sm-9">
		<input id="identityFirstName" type="text" required name="identityFirstName" maxlength="64" 
		       data-ng-model="identity.identityFirstName" class="form-control" />
		</div>
	</div>		
	
	<div id="form-group-lastName" class="form-group">
		<label for="identityLastName" class="col-sm-3 control-label">{{'LAST_NAME' | common}}</label>
		<div class="col-sm-9">
		<input id="identityLastName" type="text"  required name="identityLastName" maxlength="64" 
		       data-ng-model="identity.identityLastName" class="form-control" />
		</div>
	</div>
	
	<div id="form-group-birthDate" class="form-group">
		<label for="birthDate" class="col-sm-3 control-label">{{'USER_BIRTH_DATE'| common}}</label>
				<div class="col-sm-9">
					<div data-ng-click="open($event,1)" id="birthDatePicker"
						class="input-group" >
						<input type="text" class="form-control" data-ng-model="identity.birthDate"
							data-max-date="todayDate"
							data-is-open="datePicker[1]" data-datepicker-options="dateOptionsBirthDate"
							data-datepicker-popup="shortDate" data-ng-required="true"
							data-close-text="Close" /> <span class="input-group-btn">
							<button type="button" class="btn btn-default">
								<i class="glyphicon glyphicon-th"></i>
							</button>
						</span>
					</div>
				</div>
	</div>
	
	<hr/>
	
	<div id="form-group-displayName" class="form-group">
		<label for="passwordToChange" class="col-sm-3 control-label">{{'PASSWORD_TO_CHANGE' | common}}</label>
		<div class="col-sm-9">
		<input id="passwordToChange" type="password" name="passwordToChange" maxlength="64" 
		       class="form-control" data-ng-model="identity.passwordToChange"/>
		</div>
	</div>		
	
	<div id="form-group-displayName" class="form-group">
		<label for="passwordConfirmation" class="col-sm-3 control-label">{{'PASSWORD_CONFIRMATION' | common}}</label>
		<div class="col-sm-9">
		<input id="passwordConfirmation" type="password" name="passwordConfirmation" maxlength="64" 
		       class="form-control" data-ng-model="identity.passwordConfirmation"/>
		</div>
	</div>		
	
		
	</div><!-- col-md-8 -->
	<div class="col-md-4" >
	</div><!-- col-md-4 -->
	
	</div><!-- row -->
	
	<!--
	 ! Submit row
	 !-->
	<div class="row">
	<div class="col-md-12" >
	<!--
	 ! Submit button
	 !-->
	<hr/>
	<div class="pull-right"> 
		<button type="submit" name="submit" value="0" class="btn btn-primary" >{{'_SAVE' | common}}</button>
		<a data-dismiss="modal"  class="btn btn-link">{{'_CLOSE' | common}}</a>
	</div>
	</div>
	</div>
	
	
</form>
</div>
