<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<span class="h4 modal-title" id="modalLabel" > {{'NEW_PERSON' | i18n}}</span>
</div><!-- modal-header-->
  		
<div class="modal-body">

<form  class="form-horizontal" role="form" data-ng-submit="updateUser()">

	<div class="row" >
	<div class="col-md-8" >
	<div id="form-group-identityType" class="form-group">
		<label for="identityType" class="col-sm-3 control-label">{{'IDENTITY_TYPE' | i18n}}</label>
		<div class="col-sm-9">
		<select id="identityType" class="form-control" data-ng-model="identity.identityType">
			<option data-ng-repeat="identityTypeOption in identityTypes" value="{{identityTypeOption}}">{{'IDENTITY_TYPE_'+identityTypeOption | i18n}}</option>
		</select>
		</div>
	</div>

	<div id="form-group-principal" class="form-group">
		<div class="col-sm-3"></div>
		<div class="col-sm-9">
		<input id="principal" type="text" data-ng-model="identity.principal" 
			required maxlength="24" 
			placeholder="Identificador" class="form-control" />
		</div>
	</div>

	<div id="form-group-gender" class="form-group">
		<label for="gender" class="col-sm-3 control-label">{{'IDENTITY_GENDER' | i18n}}</label>
		<div class="col-sm-9">
		<select id="gender" class="form-control" data-ng-model="identity.genderAsEnum">
			<option data-ng-repeat="genderOption in genders" value="{{genderOption}}" data-ng-class="userGenderIcon[genderOption]"> {{'IDENTITY_GENDER_'+genderOption | i18n}}
			</option>
		</select>
		</div>
	</div>
	
	<hr/>
	
	<div id="form-group-displayName" class="form-group">
		<label for="displayName" class="col-sm-3 control-label">{{'DISPLAY_NAME' | i18n}}</label>
		<div class="col-sm-9">
		<input id="displayName" type="text" required name="displayName" maxlength="64" 
		       placeholder="{{'DISPLAY_NAME' | i18n}} " class="form-control" data-ng-model="identity.displayName"/>
		</div>
	</div>		
	
	<div id="form-group-firstName" class="form-group">
		<label for="identityFirstName" class="col-sm-3 control-label">{{'FIRST_NAME' | i18n}}</label>
		<div class="col-sm-9">
		<input id="identityFirstName" type="text" required maxlength="64" 
		       data-ng-model="identity.identityFirstName" class="form-control" />
		</div>
	</div>		
	
	<div id="form-group-lastName" class="form-group">
		<label for="identityLastName" class="col-sm-3 control-label">{{'LAST_NAME' | i18n}}</label>
		<div class="col-sm-9">
		<input id="identityLastName" type="text" required maxlength="64" 
		       data-ng-model="identity.identityLastName" class="form-control" />
		</div>
	</div>
	
	<div id="form-group-birthDate" class="form-group">
		<label for="birthDate" class="col-sm-3 control-label">{{'USER_BIRTH_DATE'| i18n}}</label>
				<div class="col-sm-9">
					<div data-ng-click="open($event,1)" id="birthDatePicker"
						class="input-group">
						<input type="text" class="form-control" data-ng-model="identity.birthDate"
							data-max-date="todayDate"
							data-is-open="datePicker[1]" data-datepicker-options="dateOptionsBirthDate"
							data-datepicker-popup="shortDate" data-ng-required="true"
							data-close-text="Close" /> <span class="input-group-btn">
							<button type="button" class="btn btn-default">
								<i class="glyphicon glyphicon-th"></i>
							</button>
						</span>
					</div>
				</div>
	</div>
		
	</div><!-- col-md-8 -->
	<div class="col-md-4" >
	</div><!-- col-md-4 -->
	
	</div><!-- row -->
	
	<!--
	 ! Submit row
	 !-->
	<div class="row">
	<div class="col-md-12" >
	<!--
	 ! Submit button
	 !-->
	<hr/>
	<div class="pull-right"> 
		<button type="submit" name="submit" value="0" class="btn btn-primary" >{{'_SAVE' | i18n}}</button>
		<a data-dismiss="modal"  class="btn btn-link">{{'_CLOSE' | i18n}}</a>
	</div>
	</div>
	</div>
	
	
</form>
</div>
